/*底部结构开始*/
.footer{
    height: 1.33rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 0.027rem solid lightgray;
    background-color: white;
    display: flex;
}
/*底部结构结束*/

/*底部布局开始*/
.footer .footer-index,
.footer .footer-order,
.footer .footer-my{
    flex: 1; /*平分剩余空间*/
    font-size: 0.32rem;
    text-decoration: none;
    color: #333333;
    /*使里面的内容水平垂直居中*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*底部布局结束*/

/*底部内容开始*/
.footer img{
    width: 0.667rem;
    height: 0.667rem;
    background-size: cover;
    margin-bottom: 0.133rem;
}

.footer-index.active img{
    background-image: url("./bottomBar/homeIconActive.png");
}

.footer-order.active img{
    background-image: url("./bottomBar/orderIconActive.png");
}

.footer-my.active img{
    background-image: url("./bottomBar/myIconActive.png");
}

.footer-index img{
    background-image: url("./bottomBar/homeIcon.png");
}

.footer-order img{
    background-image: url("./bottomBar/orderIcon.png");
}

.footer-my img{
    background-image: url("./bottomBar/myIcon.png");
}
/*底部内容结束*/